{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Costcentre list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idcostcentre</th>
                <th>Costcentre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('costcentre_show', { 'id': entity.idCostcentre }) }}">{{ entity.idCostcentre }}</a></td>
                <td>{{ entity.costcentre }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('costcentre_show', { 'id': entity.idCostcentre }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('costcentre_edit', { 'id': entity.idCostcentre }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('costcentre_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
