{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Modifier la commande</h1>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    <div id="Livraison" class="col-md-5" >
        Numero de commande : {{ entity.demandDemand.numeroDemand }}<br>
        Nom du projet : {{ entity.demandDemand.projectProject.project }}<br><br>
        <h5>Lieu de livraison :</h5>
        {{ entity.demandDemand.deliveryDelivery.name }}<br>
        Case Postal {{ entity.demandDemand.deliveryDelivery.postoffice }}<br>
        {{ entity.demandDemand.deliveryDelivery.adress }}<br>
        {{ entity.demandDemand.deliveryDelivery.postcode }}<br>
        {{ entity.demandDemand.deliveryDelivery.telephone }}<br>
        {{ entity.demandDemand.deliveryDelivery.fax }}<br>
    </div>

    <div id="Fournisseur" class="col-md-6" >

        <h5>FOURNISSEUR</h5>
        {{ entity.demandDemand.VendorVendor.name }}<br>
        Case Postal {{ entity.demandDemand.VendorVendor.postofficebox }}<br>
        {{ entity.demandDemand.VendorVendor.adress }}<br>
        {{ entity.demandDemand.VendorVendor.postcode }}
        {{ entity.demandDemand.VendorVendor.locality }}<br>
        {{ entity.demandDemand.VendorVendor.telephone }}<br>
        {{ entity.demandDemand.VendorVendor.fax }}<br>
    </div>
    <div id="Article" class="col-md-10">
        <br>A l'attention de: {{ entity.demandDemand.creaIdUser }}<br>
        Selon offre réf.
        {{ entity.demandDemand.referenceReference.reference }} du
        {{ entity.demandDemand.referenceDate |date('Y-m-d') }}<br><br>
    </div>
    <div id="DemandArticle" class="col-md-12">
        {{ form_row(edit_form.articleArticle) }}
    </div>
    <div id="DemandCompta" class="col-md-12">
        <div class="col-lg-12">
            <h4>Observation : </h4>{{ entity.demandDemand.observation }}
        </div>
        <div class="col-lg-4">
            <strong> Proco : </strong>{{ entity.demandDemand.procoProco }}
        </div>
        <div class="col-lg-4">
            <strong> Labo : </strong>{{ entity.demandDemand.laboLabo }}
        </div>
        <div class="col-lg-5">
            <strong> Oracle : </strong>{{ entity.demandDemand.oracleOracle}}
        </div>
        <div class="col-lg-2">
            <strong> Centre de coût : </strong>{{ form_row(edit_form.demandDemand.costcentreCostcentre) }}
        </div>
        <div class="col-lg-1">
            <strong> H : </strong>{{ entity.demandDemand.hfield }}
        </div>
        <div class="col-lg-2">
            <strong> Filière : </strong>{{ entity.demandDemand.sectorSector }}
        </div>
        <div class="col-lg-2">
            <strong> Montant : </strong>{{ form_row(edit_form.demandDemand.amount) }}
        </div>
    </div>

    <div id="Action" class="col-md-8 ">
        <ul class="record_actions list-inline pull-right">
            <li>
                <a class="btn btn-primary glyphicon glyphicon-chevron-left" href="{{ path('default') }}">
                    Retour
                </a>
            </li>
            <li>
                {{ form_row(edit_form.modifier) }}
            </li>
            {% if ((is_granted('ROLE_REQUIRING')) and (entity.demandDemand.statusstatus.idStatus == 1 ))%}
            <li>{{ form(delete_form) }}</li>
            {% endif %}

        </ul>
    </div>
    <div class="hide">
        {{ form_end(edit_form) }}
    </div>

    {#Script pour la création de champs de création d'article#}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('div#orderit_bundle_orderbundle_listing_articleArticle');

            // On ajoute un lien pour ajouter une nouvelle catégorie
            var $addLink = $('<a href="#" id="add_category" class="btn btn-default">Ajouter un article</a>');
            $container.append($addLink);

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $addLink.click(function(e) {
                AddArticle($container);
                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find(':input').length;

            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
            if (index == 0) {
                AddArticle($container);
            } else {
                // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }

            // La fonction qui ajoute un formulaire Article
            function AddArticle($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Article n°' + (index+1))
                        .replace(/__name__/g, index));

                // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                addDeleteLink($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression d'un Article
            function addDeleteLink($prototype) {
                // Création du lien
                $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

                // Ajout du lien
                $prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien
                $deleteLink.click(function(e) {
                    $prototype.remove();
                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }
        });
    </script>
{% endblock %}