{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ensemble des listings</h1>

    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>N° Demand</th>
                <th>Status</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('listing_show', { 'id': entity.idListing }) }}">{{ entity.idListing }}</a></td>
                <td>{{ entity.demandDemand.numeroDemand }}</td>
                <td>{{ entity.demandDemand.statusstatus }}</td>
                <td>{% if entity.creaListing %}{{ entity.creaListing|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a class="btn btn-info glyphicon glyphicon-search" href="{{ path('listing_show', { 'id': entity.idListing }) }}"> voir</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul class="list-inline">
        <li>
            <a href="{{ path('listing_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
