<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link href="{{ asset('css/bootstrap.css', absolute=true) }}" rel="stylesheet" media="screen">
    <title>Heig-vd plateforme de commande de matériel</title>
<body>
    <div id="Entete">
        <div class="pull-left">
            <img src="{{ asset('bundles/order/images/vaud_logo.jpg', absolute=true) }}" alt="Canton de vaud" height="150">
        </div>
        <div class="pull-left">
        HAUTE ECOLE D'INGENIERIE ET DE GESTION<br>
        DU CANTON DE VAUD (HEIG-VD)<br><br>

        ROUTE DE CHESSEAUX 1<br>
        CASE 521<br>
        CH-1401 YVERDON-LES-BAINS<br>
        TELEPHONE: +41 (0)24 557 63 30<br>
        TELEFAX: +41 (0)24 557 64 04<br>
        CHE- 116.015.309 TVA<br>
        </div>
        <div id="Fournisseur" class="left10 pull-left">

            <h5>FOURNISSEUR</h5>
            {{ entity.demandDemand.VendorVendor.name }}<br>
            Case Postal {{ entity.demandDemand.VendorVendor.postofficebox }}<br>
            {{ entity.demandDemand.VendorVendor.adress }}<br>
            {{ entity.demandDemand.VendorVendor.postcode }}
            {{ entity.demandDemand.VendorVendor.locality }}<br>
            {{ entity.demandDemand.VendorVendor.telephone }}<br>
            {{ entity.demandDemand.VendorVendor.fax }}<br>
        </div>
    </div>
    <div id="Livraison" class="clearfix">
        <h2>COMMANDE No {{ entity.demandDemand.numeroDemand }}</h2><br>
        Nom du projet : {{ entity.demandDemand.projectProject.project }}<br><br>
        <h5>Lieu de livraison :</h5>
        {{ entity.demandDemand.deliveryDelivery.name }}<br>
        Case Postal {{ entity.demandDemand.deliveryDelivery.postoffice }}<br>
        {{ entity.demandDemand.deliveryDelivery.adress }}<br>
        {{ entity.demandDemand.deliveryDelivery.postcode }}<br>
        {{ entity.demandDemand.deliveryDelivery.telephone }}<br>
        {{ entity.demandDemand.deliveryDelivery.fax }}<br>
    </div>

    <div id="Article">
        <br>A l'attention de: {{ entity.demandDemand.creaIdUser }}<br>
                Selon offre réf.
                {{ entity.demandDemand.referenceReference.reference }} du
                {{ entity.demandDemand.referenceDate |date('Y-m-d') }}<br><br>
        <table class="records_list table table-striped">
            <thead>
                <tr>
                    <th>Pos</th>
                    <th>Description</th>
                    <th>Quantité</th>
                    <th>No Article, Code, Numéro, Dimensions</th>
                </tr>
            </thead>
            <tbody>
            {%for articles in entity.articleArticle %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ articles.description }}</td>
                    <td>{{ entity.demandDemand.idDemand }}</td>
                    <td>{{ articles.numeroarticle }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            <br>YVERDON-LES-BAINS, le {{ entity.demandDemand.modDemand |date('d-m-Y') }}<br>

                Observations :
                {{ entity.demandDemand.observation }}
    </div>
</head>
</body>
</html>