{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Détaille de la commande</h1>
    <div id="Livraison" class="col-md-5" >
        Numero de commande : {{ entity.demandDemand.numeroDemand }}<br>
        Nom du projet : {{ entity.demandDemand.projectProject.project }}<br><br>
        <h5>Lieu de livraison :</h5>
        {{ entity.demandDemand.deliveryDelivery.name }}<br>
        Case Postal {{ entity.demandDemand.deliveryDelivery.postoffice }}<br>
        {{ entity.demandDemand.deliveryDelivery.adress }}<br>
        {{ entity.demandDemand.deliveryDelivery.postcode }}<br>
        {{ entity.demandDemand.deliveryDelivery.telephone }}<br>
        {{ entity.demandDemand.deliveryDelivery.fax }}<br>
    </div>

    <div id="Fournisseur" class="col-md-6" >

            <h5>FOURNISSEUR</h5>
            {{ entity.demandDemand.VendorVendor.name }}<br>
            Case Postal {{ entity.demandDemand.VendorVendor.postofficebox }}<br>
            {{ entity.demandDemand.VendorVendor.adress }}<br>
            {{ entity.demandDemand.VendorVendor.postcode }}
            {{ entity.demandDemand.VendorVendor.locality }}<br>
            {{ entity.demandDemand.VendorVendor.telephone }}<br>
            {{ entity.demandDemand.VendorVendor.fax }}<br>
    </div>
    <div id="Article" class="col-md-10">
        <br>A l'attention de: {{ entity.demandDemand.creaIdUser }}<br>
                Selon offre réf.
                {{ entity.demandDemand.referenceReference.reference }} du
                {{ entity.demandDemand.referenceDate |date('Y-m-d') }}<br><br>
        <table class="records_list table table-striped">
            <thead>
                <tr>
                    <th>Pos</th>
                    <th>Description</th>
                    <th>Quantité</th>
                    <th>No Article, Code, Numéro, Dimensions</th>
                </tr>
            </thead>
            <tbody>
            {%for articles in entity.articleArticle %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ articles.description }}</td>
                    <td>{{ entity.demandDemand.idDemand }}</td>
                    <td> {{ articles.numeroarticle }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            <br>YVERDON-LES-BAINS, le {{ entity.demandDemand.modDemand |date('d-m-Y') }}<br>

                Observations :
                {{ entity.demandDemand.observation }}
                {{ entity.demandDemand.statusstatus.idStatus }}
    </div>
    <div id="Action" class="col-md-10 pull-right">
        <ul class="record_actions list-inline">
            <li>
                <a class="btn btn-primary glyphicon glyphicon glyphicon-share-alt" href="{{ path('listing') }}">
                    Retour
                </a>
            </li>
            {% if is_granted('ROLE_REQUIRING') %}
                <li>
                    <a class="btn btn-warning glyphicon glyphicon-pencil" href="{{ path('listing_edit', { 'id': entity.idListing }) }}">
                        Modifier
                    </a>
                </li>
            {% endif %}
            {# Affiche le bouton supprimer
                Si l'utilisateur est une personne responsalbe ou de la comptabilité et que la commande n'a pas été validée à ce niveau #}
            {% if ((is_granted('ROLE_VALIDATOR')) and (entity.demandDemand.statusstatus.idStatus == 1 )) or ((is_granted('ROLE_ACCOUNTING')) and (entity.demandDemand.statusstatus.idStatus == 2 )) %}
            {# Affiche le bouton demande une modificaiton
            Si l'utilisateur est une personne responsalbe ou de la comptabilité et que la commande n'a pas été validée à ce niveau #}
                <li>
                    <a class="btn btn-warning glyphicon glyphicon-indent-right" href="{{ path('demand_requestmod', { 'idDemand': entity.demandDemand.idDemand }) }}">
                        Demande de modification
                    </a>
                </li>
            {% endif %}
            {% if ((is_granted('ROLE_VALIDATOR')) and (entity.demandDemand.statusstatus.idStatus == 1 )) or ((is_granted('ROLE_ACCOUNTING')) and (entity.demandDemand.statusstatus.idStatus == 2 )) %}
                <li>
                <a class="btn btn-success glyphicon glyphicon glyphicon-ok" href="{{ path('demand_valid', { 'idDemand': entity.demandDemand.idDemand }) }}">
                    Valider
                </a>
            </li>
            {% endif %}
            {# Affiche le bouton supprimer
                Si l'utilisateur est une personne responsalbe ou de la comptabilité et que la commande n'a pas été validée à ce niveau #}
            {% if ((is_granted('ROLE_VALIDATOR')) and (entity.demandDemand.statusstatus.idStatus == 1 )) or ((is_granted('ROLE_ACCOUNTING')) and (entity.demandDemand.statusstatus.idStatus == 3 )) %}
                <li>
                    <a class="btn btn-danger glyphicon glyphicon glyphicon-trash" href="{{ path('demand_delete', { 'idDemand': entity.demandDemand.idDemand }) }}">
                        Annuler
                    </a>
                </li>
            {% endif %}
            {# Si l'utilisateur est une personne de la comptabilité #}
            {% if is_granted('ROLE_ACCOUNTING') %}
                <li>
                    <a class="btn btn-default glyphicon glyphicon glyphicon-print" href="{{ path('listing_pdf', { 'id': entity.idListing }) }}">
                        Imprimer
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
