{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Listing</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Numero de commande</th>
                <td>{{ entity.demandDemand.numeroDemand }}</td>
            </tr>
            <tr>
                <th>Nom du projet</th>
                <td>{{ entity.demandDemand.projectProject.project }}</td>
            </tr>
            <tr>
                <th>Lieu de livraison</th>
                <td>{{ entity.demandDemand.deliveryDelivery.name }}</td>
                <td>Case Postal {{ entity.demandDemand.deliveryDelivery.postoffice }}</td>
                <td>{{ entity.demandDemand.deliveryDelivery.adress }}</td>
                <td>{{ entity.demandDemand.deliveryDelivery.postcode }}</td>
                <td>{{ entity.demandDemand.deliveryDelivery.telephone }}</td>
                <td>{{ entity.demandDemand.deliveryDelivery.fax }}</td>
            </tr>
            <tr>
                <th>Fournisseur</th>
                <td>{{ entity.demandDemand.vendorVendor.name }}</td>
                <td>Case Postal {{ entity.vendorVendor.deliveryDelivery.postoffice }}</td>
                <td>{{ entity.demandDemand.vendorVendor.adress }}</td>
                <td>{{ entity.demandDemand.vendorVendor.postcode }}</td>
                <td>{{ entity.demandDemand.vendorVendor.telephone }}</td>
                <td>{{ entity.demandDemand.vendorVendor.fax }}</td>
            </tr>
            <tr>
                <th>A l'attention de</th>
                <td>{{ entity.demandDemand.creaIdUser }}</td>
            </tr>
            <tr>
                <th>Selon offre réf.</th>
                <td>{{ entity.demandDemand.referenceReference.reference }} du</td>
                <td>{{ entity.demandDemand.referenceDate |date('Y-m-d') }}</td>
            </tr>
            <tr>

            </tr>

            <tr>
                <th>Crealisting</th>
                <td>{{ entity.creaListing|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('listing') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('listing_edit', { 'id': entity.idListing }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
