{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Proco list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idproco</th>
                <th>Proco</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('proco_show', { 'id': entity.idProco }) }}">{{ entity.idProco }}</a></td>
                <td>{{ entity.proco }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('proco_show', { 'id': entity.idProco }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('proco_edit', { 'id': entity.idProco }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('proco_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
