{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Commentaire sur la demande</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idcomment</th>
                <td>{{ entity.idComment }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ entity.idUser }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ entity.comment }}</td>
            </tr>
            <tr>
                <th>Creacomment</th>
                <td>{{ entity.creaComment|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a class="btn btn-primary glyphicon glyphicon glyphicon-chevron-left" href="{{ path('my_validation') }}">
            Retour au suivi
        </a>
    </li>
</ul>
{% endblock %}
