{% extends '::base.html.twig' %}

{% block body -%}
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-info" role="alert">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('danger') %}
        <div class="alert alert-danger" role="alert">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% if app.request.get('_route') == 'mydemand' %}
        <h1>Liste de mes commandes</h1>
    {% endif %}
    {% if app.request.get('_route') == 'demand_open' %}
        <h1>Liste commandes ouvertes</h1>
    {% endif %}
    {% if app.request.get('_route') == 'my_validation' %}
        <h1>Liste commandes suivies</h1>
    {% endif %}
    <br>
    <table class="table table-responsive table-striped">
        <thead class="records_list">
            <tr>
                <th>Numero de commande</th>
                <th>Nom du projet</th>
                <th>Statut</th>
                <th>Requerant</th>
                <th>Pris en charge par</th>
                <th>Comptabilisé par</th>
                <th>Date de création</th>
                <th>Date de modification</th>
                <th>Montant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="records_list table-responsive table-striped">
        {% for entity in entities %}
            <tr>
                <td>{{ entity.numeroDemand }}</td>
                <td>{{ entity.projectProject }}</td>
                <td>{{ entity.statusstatus }}</td>
                <td>{{ entity.creaIdUser }}</td>
                <td>{% if entity.validRespIduser %}{{ entity.validRespIdUser }}{% endif %}</td>
                <td>{% if entity.validAccouIdUser %}{{ entity.validAccouIdUser }}{% endif %}</td>
                <td>{% if entity.creaDemand %}{{ entity.creaDemand|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>{% if entity.modDemand %}{{ entity.modDemand|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>{{ entity.amount }}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            {% if entity.idListing %}<a class="btn btn-info glyphicon glyphicon-search" href="{{ path('listing_show', { 'id': entity.idlisting }) }}"> voir</a>{% endif %}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
