{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Labo list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idlabo</th>
                <th>Labo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('labo_show', { 'id': entity.idLabo }) }}">{{ entity.idLabo }}</a></td>
                <td>{{ entity.labo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('labo_show', { 'id': entity.idLabo }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('labo_edit', { 'id': entity.idLabo }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('labo_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
