{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Labo</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idlabo</th>
                <td>{{ entity.idLabo }}</td>
            </tr>
            <tr>
                <th>Labo</th>
                <td>{{ entity.labo }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('labo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('labo_edit', { 'id': entity.idLabo }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
