{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Reference list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idreference</th>
                <th>Reference</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('reference_show', { 'id': entity.idReference }) }}">{{ entity.idReference }}</a></td>
                <td>{{ entity.reference }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('reference_show', { 'id': entity.idReference }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('reference_edit', { 'id': entity.idReference }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('reference_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
