{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Reference</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idreference</th>
                <td>{{ entity.idReference }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ entity.reference }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('reference') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('reference_edit', { 'id': entity.idReference }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
