{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Sector list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idsector</th>
                <th>Sector</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('sector_show', { 'id': entity.idSector }) }}">{{ entity.idSector }}</a></td>
                <td>{{ entity.sector }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('sector_show', { 'id': entity.idSector }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('sector_edit', { 'id': entity.idSector }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('sector_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
