{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Sector</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idsector</th>
                <td>{{ entity.idSector }}</td>
            </tr>
            <tr>
                <th>Sector</th>
                <td>{{ entity.sector }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('sector') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('sector_edit', { 'id': entity.idSector }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
